Test-Command: g++ debian/tests/test-gemm.cc -I/usr/include/mkl -lmkl_rt -lpthread -lm -ldl -ltbb -o test; MKL_THREADING_LAYER=tbb ./test
Depends: intel-mkl, build-essential, libtbb2-dev,
Restrictions: allow-stderr

Test-Command: g++ debian/tests/test-gemm.cc -I/usr/include/mkl -ltbb -lmkl_rt -lpthread -lm -ldl -o test; MKL_THREADING_LAYER=intel ./test
Depends: intel-mkl, build-essential, libomp-7-dev | libomp-8-dev | libomp-dev,
Restrictions: allow-stderr

Test-Command: g++ debian/tests/test-gemm.cc -I/usr/include/mkl -ltbb -lmkl_rt -lpthread -lm -ldl -o test; MKL_THREADING_LAYER=gnu ./test
Depends: intel-mkl, build-essential, libgcc-8-dev | libgcc-7-dev | libgcc-6-dev,
Restrictions: allow-stderr
